// Import Vuetify styling
@import '~vuetify/src/stylus/main'
@import './colors'

.page
  @extend .fade-transition


.k
  &-front
    &-header
      background-color: grey
      // margin-bottom: 50px

      .jumbo
        transform: translateY(50px)
        background-color: black


.app-title
  text-decoration: none
