// Import Vuetify styling
@require '~vuetify/src/stylus/main'
@require './colors'

.page
  @extend .fade-transition


.app
  &-header
    .app-toolbar
      background-color: $header-color
  &-front
    &-header
      background-color: $header-color

      .jumbo
        transform: translateY(50px)


.app-title
  text-decoration: none
  color: $shades.white
