// Import Vuetify styling
@require '~vuetify/src/stylus/main'
@require './settings/colors'
@require './components/all'

.page
  @extend .fade-transition

.home-content
  margin-top: 125px

.app
  &-header
    .app-toolbar
      background-color: $header-color
  &-front
    &-header
      background-color: $header-color

      .jumbo
        &-wrapper
          height: 300px
        transform: translateY(75px)


.app-title
  text-decoration: none
  color: $shades.white
